.displaywrapper {
    display: inline-grid;
    justify-items: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.displaywrapper > div {
    /* margin: auto; */
    padding: 10px;
    /* border: 1px solid black; */
}

.inputwrapper {
    display: inline-grid;
    justify-items: center;
}

.inputwrapper > div {
    float: left;
    grid-row: 1;
    margin-right: 100px;
}

.turtle {
    grid-row: 2;
    float: left;
}
