.displaywrapper {
    display: inline-grid;
    justify-items: center;
}

.displaywrapper > div {
    padding: 10px;
}

.inputwrapper {
    display: inline-grid;
    justify-items: center;
}

.inputwrapper > div {
    float: left;
    grid-row: 1;
    margin-right: 100px;
}

.turtle {
    grid-row: 2;
    float: left;
}
