@font-face {
    font-family: paperboard;
    src: url(../src/components/fonts/Paperboard.ttf);
}

body {
    text-align: center;
    font-family: paperboard;
    background-color: #dad7cd;
    color: #344e41;
    font-size: calc(7px + 2vmin);
}

h1{
    font-size: calc(28px + 2vmin);
}

h2{
    font-size: calc(10px + 2vmin);
} 

[type="number"] {
    background-color: white;
    width: 3em;
}