.App {
    text-align: center;
    font-family: sans-serif;
    background-color: #dad7cd;
    color: #344e41;
}
.h1{
    font-size: calc(10px + 2vmin);
}
.h2{
    font-size: calc(5px + 2vmin);
} 
.wrapper {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1%;
    column-gap: .5%;
    height: 100vh;
}
.wrapper > div {
    border: 1px solid #344e41;
    padding: 5px;
}
.header {
    grid-column: 1/4;
    /* grid-row: 1; */
}
.shape {
    grid-column: 1;
    /* grid-row: 2; */
}
.points {
    grid-column: 2;
    /* grid-row: 2; */
}
.function {
    grid-column: 3;
    /* grid-row: 2; */
}
.display {
    grid-column: 1/3;
    grid-row: 3/5;
}
.steps {
    grid-column: 3;
    grid-row: 3/5;
}

.turtle {
    /* margin: 5px; */
    margin-left: 25%;
    margin-right: 25%;
}

[type="text"] {
    width: 3em;
}