@font-face {
    font-family: paperboard;
    src: url(../src/components/fonts/Paperboard.ttf);
}

body {
    text-align: center;
    font-family: paperboard, serif;
    background-color: #a3b18a;
    color: #344e41;
    font-size: calc(7px + 2vmin);
    overflow: hidden;
}

h1{ font-size: calc(28px + 2vmin); }

.screen { background-color: #dad7cd; }

.navbarlabels { background-color: #344e41; }
